<clr-header class="header-6 header">
    <div class="branding"><a class="logo-and-title" routerlink="/" href="/"><span
                class="clr-icon clarity-logo"></span><span class="title">Project Clarity</span></a></div>
    <div class="divider"></div>
    <div class="header-nav" [clr-nav-level]="1">
        <a class="nav-link" id="home-link" routerLink="/principal" routerLinkActive="active">
            <span class="nav-text">Home</span>
        </a>
        <a class="nav-link" href="https://v1.clarity.design" rel="" target="">
            <span class="nav-text">Documentation</span>
        </a>
        <a class="nav-link" routerlink="/icons" routerlinkactive="active" href="/icons">
            <span class="nav-text">Icons</span>
        </a>
        <a class="nav-link" routerlink="/community" routerlinkactive="active" href="/community">
            <span class="nav-text">Community</span>
        </a>
        <a class="nav-link" routerlink="/news" routerlinkactive="active" href="/news">
            <span class="nav-text">What's New</span>
        </a>
    </div>
    <div class="settings">
        
    </div>

</clr-header>